.vision{
    color: rgb(75, 73, 73);
}

h2{
    color:#10217d;
    font-size: 44px;
    font-weight: 700;
    margin: 50px 0;
}
.img{
    border-radius: 20px;
    border:2px solid #10217d;
}
.vision p{
    font-size: 20px;
    padding: 20px 0;
}
.card{
    background-color:#10217d ;
    color: white;
 border-radius: 10px;
 margin: 10px 0;

}
.card:hover{

    border:2px solid #10217d;
    background-color: transparent;
color: rgb(37, 37, 37) ;


    
   }
.card h4{
    font-weight: 700;
}
.card p{
    font-size: 16px;
}
.card a{
    padding: 30px 35px;
    background-color: #16c2d5;
    border-radius: 50%;
    color: white;
    border: 1px solid #10217d;
    font-size: 35px;
    margin: 10px 0;
}